{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Books</title>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-striped" style="width:100%" align="center">
            <h2>Student Information:</h2>
            <tr>
                <th>First Name</th>
                <th>{{ borrower.Firstname }}</th>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ borrower.Lastname }}</td>
        </tr>
            <tr>
                <td>Registration No.</td>
                <td>{{ borrower.Student_id }}</td>
        </tr>
        <tr>
            <th>Standard</th>
            <th>{{ borrower.Student_standard }}</th>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ borrower.Email_id }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ borrower.Student_address }}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <th>{{ borrower.Mobile }}</th>
        </tr>
        <tr>
            <td>Admitted on</td>
            <td>{{ borrower.Student_admitted_on }}</td>
        </tr>
        </table>
    </div>
{% endblock %}

